---
repos:
    - repo: https://github.com/camunda/infraex-common-config
      rev: 1.5.9 # use tags until renovate supports sha: https://github.com/renovatebot/renovate/issues/22567
      hooks:
          - id: update-action-readmes-docker

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: end-of-file-fixer
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-toml
          - id: check-json
          - id: check-symlinks
          - id: check-shebang-scripts-are-executable
          - id: detect-private-key

    - repo: https://github.com/hadolint/hadolint
      rev: v2.14.0
      hooks:
          - id: hadolint-docker

    - repo: https://github.com/rhysd/actionlint
      rev: v1.7.11
      hooks:
          - id: actionlint-docker

    - repo: https://github.com/renovatebot/pre-commit-hooks
      rev: 43.14.1
      hooks:
          - id: renovate-config-validator
            args: [--strict]

    - repo: https://github.com/compilerla/conventional-pre-commit
      rev: v4.3.0
      hooks:
          - id: conventional-pre-commit
            stages: [commit-msg]
            args: [--strict, --force-scope]

    - repo: local
      hooks:
          - id: update-readme-version
            name: update-readme-version
            language: script
            always_run: true
            pass_filenames: false # ensure that we don't run the command multiple times
            entry: .pre-commit-hooks/update_readme_version.sh
            types: [text]
            stages: [pre-commit, pre-push, manual]

    - repo: https://github.com/adrienverge/yamllint
      rev: v1.38.0
      hooks:
          - id: yamllint
            args: [-c, .yamllint.yaml]

    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.2.3
      hooks:
          - id: yamlfmt
