---
name: Check external links

on:
    push:
    workflow_dispatch:
    schedule:
        - cron: 0 3 1 * *
    pull_request:
        paths:
            - .github/workflows/links.yml

jobs:
    lint:
        name: links-check
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

            - name: Get Current Timestamp
              id: timestamp
              run: echo "TIMESTAMP=$(date +%s)" >> "$GITHUB_ENV"

            - name: Restore lychee cache
              uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
              with:
                  path: .lycheecache
                  key: cache-lychee-${{ env.TIMESTAMP }}
                  restore-keys: cache-lychee-

            - name: Link Checker
              uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
              with:
                  fail: true
                  args: -c ./lychee-links.toml --cache --max-cache-age 1d . --verbose --no-progress '*.md' './**/*.md'
                  token: ${{ secrets.GITHUB_TOKEN }}

            - name: Create Issue From File
              if: failure() && github.event_name == 'schedule'
              uses: peter-evans/create-issue-from-file@fca9117c27cdc29c6c4db3b86c48e4115a786710 # v6
              with:
                  title: Link Checker Report
                  content-filepath: ./lychee/out.md
                  labels: report, automated issue

            - name: Notify in Slack in case of failure
              id: slack-notification
              if: failure() && github.event_name == 'schedule'
              uses: camunda/infraex-common-config/.github/actions/report-failure-on-slack@193a21e1e56c9a65517a822224ac3b4ffa4d6ae4 # 1.5.9
              with:
                  vault_addr: ${{ secrets.VAULT_ADDR }}
                  vault_role_id: ${{ secrets.VAULT_ROLE_ID }}
                  vault_secret_id: ${{ secrets.VAULT_SECRET_ID }}
