---
name: lint

on:
    workflow_dispatch:
    pull_request:
    push:
        branches: [main]

jobs:
    lint:
        uses: camunda/infraex-common-config/.github/workflows/lint-global.yml@b52f5bb65b5bb9e0b0458c46b8671bf1fe9a907f # 1.5.6
        secrets: inherit
