---
name: lint

on:
    workflow_dispatch:
    pull_request:
    push:
        branches: [main]

jobs:
    lint:
        uses: camunda/infraex-common-config/.github/workflows/lint-global.yml@193a21e1e56c9a65517a822224ac3b4ffa4d6ae4 # 1.5.9
        secrets: inherit
